{% extends "layout.html" %}
{% block title %}Edit list - {{ list.name }}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  <section id="lists/edit" class="ext/layout standard">
    <header>
      <h1>Edit List</h1>
    </header>
    <form class="ext/form" method="POST" action="/lists/{{ list.id }}">
      {% if list.id != 0 %}
        <input type="hidden" name="id" value="{{ list.id }}" />
      {% endif %}
      <div class="field">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          value="{{ list.name }}"
          oninput="document.title = `Edit list - ${this.value}`"
        />
      </div>
      <div class="field">
        <label for="description">Description</label>
        <input type="text" name="description" value="{{ list.description }}" />
      </div>
      <div class="field">
        <label for="emails">Add members</label>
        <textarea
          class="add-members"
          name="emails"
          placeholder="Enter email addresses, one per line..."
        ></textarea>
      </div>
      <button type="submit">Save</button>
      {% if list.id != 0 %}
        <div class="field members">
          <label>Members</label>
          <ul>
            {% for member in members %}
              <li id="member-{{ loop.index }}">
                {% if let Some(first_name) = member.first_name %}
                  {% if let Some(last_name) = member.last_name %}
                    {{ member.email }}
                    ({{ first_name }} {{ last_name }})
                  {% else %}
                    {{ member.email }}
                  {% endif %}
                {% else %}
                  {{ member.email }}
                {% endif %}
                <button
                  class="remove"
                  type="button"
                  onclick="fetch(`/lists/{{ list.id }}/{{ member.email }}`,
                {method: 'DELETE'}
              ).then(res => res.ok && document.querySelector(`#member-{{ loop.index }}`).remove())"
                >
                  Remove
                </button>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </form>
  </section>
{% endblock %}
