{% extends "layout.html" %}

{% block title %}light and sound - Sign Up{% endblock title %}
{% block styles %}
  {% call super() %}

  <style>
    .container {
      padding: 2rem;
      width: 400px;
    }
  </style>
{% endblock styles %}
{% block content %}
  <div class="container">
    <h2>Sign up for {{ list.description }}</h2>
    <form class="form" action="/lists/{{ list.id }}/signup" method="post">
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" />
      </div>
      <input type="hidden" name="list_id" value="{{ list.id }}" />
      <div class="field">
        <button type="submit">Sign Up</button>
      </div>
    </form>
  </div>
{% endblock content %}
