{% extends "layout.html" %}

{% block title %}light and sound - Sign Up{% endblock title %}

{% block head %}
  <script
    src="https://challenges.cloudflare.com/turnstile/v0/api.js"
    async
    defer
  ></script>
{% endblock head %}

{% block content %}
  <section id="lists/signup" class="ext/layout standard">
    <header>
      <h1>Sign up for {{ list.description }}</h1>
    </header>
    <form class="ext/form" action="/lists/{{ list.id }}/signup" method="post">
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" />
      </div>
      <input type="hidden" name="list_id" value="{{ list.id }}" />

      <div
        class="cf-turnstile"
        data-sitekey="{{ turnstile_site_key }}"
        data-callback="onTurnstileSuccess"
        data-error-callback="onTurnstileError"
        data-expired-callback="onTurnstileError"
      ></div>

      <button id="submit" type="submit" class="ext/button" disabled>Verifying...</button>
    </form>
  </section>
{% endblock content %}

{% block scripts %}
  <script>
    const btn = document.getElementById("submit");
    let timer;
    function reverify() {
      btn.innerText = "Verifying...";
      btn.disabled = true;
      turnstile.reset();
    }
    function onTurnstileSuccess(token) {
      btn.classList.remove(":red");
      btn.innerText = "Sign Up";
      btn.disabled = false;
      clearTimeout(timer);
      if (!document.hidden) timer = setTimeout(reverify, 3 * 60 * 1000);
    }
    function onTurnstileError() {
      btn.classList.add(":red");
      btn.innerText = "Captcha Failed";
      btn.disabled = true;
    }
    document.addEventListener("visibilitychange", () => {
      clearTimeout(timer);
      if (!document.hidden) reverify();
    });
  </script>
{% endblock scripts %}
