{% extends "emails/layout.html" %}

{% block title %}{% if let Some(subject) = event.confirmation_subject.as_deref() %}
  {{ subject }}
{% else %}
  You're confirmed for {{ event.title }}
{% endif %}{% endblock %}

{% block content %}
  <article>
    {% if let Some(flyer) = flyer %}
      <img src="{{ "" | url }}/e/{{ event.slug }}/flyer" alt="flyer" />
    {% endif %}
    <h1 class="title">
      {% if let Some(subject) = event.confirmation_subject.as_deref() %}
        {{ subject }}
      {% else %}
        You're confirmed for {{ event.title }}
      {% endif %}
    </h1>
    <table class="details" role="presentation" width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td align="left">
          <time aria-label="date" datetime="{{ event.start }}">{{ event.start | format_datetime("%a %m.%d.%Y") }}</time>
        </td>
        <td align="right">
          <time aria-label="start" datetime="{{ event.start }}">{{ event.start | format_datetime("%-I:%M%p") }}</time>
          &ndash;
          <time aria-label="end" datetime="{{ event.end | unwrap_or_empty }}">{% if let Some(end) = event.end %}{{ end | format_datetime("%-I:%M%p") }}{% else %}??{% endif %}</time>
        </td>
      </tr>
    </table>
    {% if let Some(confirmation_html) = event.confirmation_html %}
      {{ confirmation_html | safe }}
    {% else if contributed %}
      <p>Thank you for your contribution. We look forward to seeing you!</p>
    {% else %}
      <p>Thank you for your RSVP. We look forward to seeing you!</p>
    {% endif %}
    {% if !token.is_empty() %}
      <div class="center">
        <a
          class="manage"
          href="{{ "" | url }}/e/{{ event.slug }}/rsvp/manage?reservation={{ token }}"
          >View your confirmation</a
        >
      </div>
    {% endif %}
  </article>
{% endblock %}

{% block styles %}
  <style>
    time {
      font-size: 16px;
      letter-spacing: 0.2px;
      text-transform: uppercase;
    }
    .details {
      width: 100%;
      color: #878787;
      margin-bottom: 24px;
    }
    .details td {
      color: #878787;
    }
    .center {
      text-align: center;
    }
    .manage {
      display: inline-block;
      text-decoration: none;
      border-radius: 8px;
      padding: 16px 64px;
      margin-top: 32px;
      background-color: #1e1b19;
    }
  </style>
{% endblock %}
