{% extends "layout.html" %}
{% block title %}light and sound - Unsubscribe{% endblock title %}
{% block head %}
  {% call super() %}
  <style>
    div {
      padding: 2rem;
    }
    button {
      max-width: 200px;
    }
  </style>
{% endblock head %}

{% block content %}
  <div>
    <p>Are you sure you want to unsubscribe from our mailing list?</p>
    <form method="POST" action="/emails/{{ email_id }}/unsubscribe">
      <button class="ext/button" type="submit">
        Unsubscribe {{ email_address }}
      </button>
    </form>
  </div>
{% endblock %}
