{% extends "layout.html" %}

{% block title %}
  Contact Us - light and sound
{% endblock title %}

{% block content %}
  <section id="contact/send">
    <h1>Suggestion Box</h1>
    <form class="ext/form" method="post">
      <div class="field">
        <label for="name">Name (optional)</label>
        <input type="text" id="name" name="name" autocomplete="name" />
      </div>
      <div class="field">
        <label for="email">Email (optional)</label>
        <input type="email" id="email" name="email" autocomplete="email" />
      </div>
      <div class="field">
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" required />
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea
          id="message"
          name="message"
          placeholder="If you are contacting us with an event proposal please note that we may not reply for 1-2 weeks. We are currently booked 3 months out."
          rows="8"
          required
        ></textarea>
      </div>
      <button type="submit">Send</button>
    </form>
  </section>
{% endblock content %}
