@import "tailwindcss";

/*
 * TODO: Refactor styles into Tailwind utility classes
 */

:root {
  --color-bg-alt: #080808;
  --color-border: #333;

  --color-text: #f2f2f2;
  --color-text-muted: #aaa;
  --color-text-warn: #d79f39;
  --color-text-error: #ac4650;

  --color-button: #181818;
  --color-button-hover: #444;
}

html,
body {
  @apply w-full h-full text-white bg-black;
}

header {
  @apply p-4 border-b border-neutral-700;
}

article {
  @apply max-w-3xl mx-auto p-4;

  time {
    @apply block mb-8 text-sm uppercase;
  }

  p {
    @apply mb-5 last:mb-0;
  }

  blockquote {
    @apply italic my-4 py-6 px-8 border-l-[4px];
  }

  img {
    @apply max-w-full h-auto block my-8;
  }
}

h2 {
  @apply mb-1 text-xl font-bold;
}

a {
  @apply underline;
}

button,
.button {
  font-size: 1rem;
  display: block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: var(--color-button);
  color: var(--color-text);
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

button:hover,
.button:hover {
  background: var(--color-button-hover);
}

ul {
  list-style-position: inside;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--color-text-muted);
}
input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--color-text);
  background: var(--color-bg-alt);
  border: 1px solid var(--color-border);
}

textarea {
  flex: 1;
  resize: vertical;
  width: 100%;
  height: 50vh;
  padding: 0.5rem;
  background: #111;
  font-family: monospace;
  font-size: 0.9rem;
  color: var(--color-text);
  border: 1px solid var(--color-border);
}

select {
  color: var(--color-text);
  background: var(--color-bg-alt);
  border: 1px solid var(--color-border);
}

form {
  padding: 2rem;
  display: flex;
  flex-direction: column;

  .field {
    display: flex;
    flex-direction: column;
    @apply mb-4 pb-4;
  }
}
