#events\/edit {
  .flyer {
    .wrapper {
      @apply relative;
      #flyer {
        @apply absolute h-full w-full cursor-pointer opacity-0;
      }
      .display {
        @apply bg-lsd-black border-lsd-white/30 flex w-full items-center justify-between rounded-md border px-3 py-2;
      }
      #flyer-text {
        @apply text-lsd-white/70;
      }
      #flyer-filename {
        @apply text-lsd-white;
      }
      .ext\/button {
        @apply px-2 py-0.5;
      }
    }
    #flyer-preview {
      @apply mx-auto mt-8 max-h-144 max-w-xs;
    }
  }

  #spots {
    @apply mb-12 flex flex-col gap-10;

    .header {
      @apply flex items-center gap-3;
    }
    .spot {
      @apply flex flex-col gap-2;
    }
    .spot-row {
      @apply flex gap-2;
    }
    .rsvp-count {
      @apply text-lsd-gray flex items-center text-sm;
    }
    textarea {
      @apply h-32;
    }
  }
}
