#events\/list {
  .event {
    @apply mb-4 flex flex-col;

    .title {
      @apply font-bold;
      a {
        @apply decoration-lsd-blue hover:text-lsd-blue underline;
      }
    }

    time {
      @apply text-lsd-gray mb-0.5 text-xs;
    }

    .actions {
      @apply flex flex-wrap gap-2 text-xs;
      a {
        @apply flex items-center gap-2 p-2 py-1;
      }
    }
  }
}
