#events\/rsvp\/contribution {
  @apply pt-0;

  .payment {
    #stripe {
      @apply rounded-md;
      /* stripe elements is weird and doesn't work when using border-lsd-white/30 */
      border: 1px solid var(--color-lsd-white);
    }
  }
}
