#events\/rsvp\/selection {
  .spot {
    @apply mt-6 flex flex-col p-6;

    @apply border-lsd-white rounded-lg border;

    .name {
      @apply mb-2 text-2xl;
    }
    .description {
      @apply text-lsd-gray mb-4;
    }
    .split {
      @apply flex justify-between;
      .contribution {
        @apply text-xl;
      }
      .quantity {
        @apply flex;
        .value {
          @apply w-8 text-center select-none;
        }
        svg {
          @apply cursor-pointer touch-manipulation select-none;
          transition: color 0.05s linear;
          &.disabled {
            @apply cursor-default;
            color: var(--color-lsd-charcoal);
          }
        }
      }
    }
  }

  .range {
    @apply grid grid-cols-[110px_auto] grid-rows-[40px];

    .number {
      @apply flex items-center;
      label {
        @apply my-0 mr-1 ml-0 text-lg;
      }
      input {
        @apply mr-2 h-[30px];
      }
    }

    .slider {
      @apply relative;
      input {
        @apply relative z-10 px-0;
      }
      .stat {
        @apply absolute;
        left: calc(
          8px + (100% - 18px) *
            ((var(--val) - var(--min)) / (var(--max) - var(--min)))
        );

        &::before {
          @apply bg-lsd-green pointer-events-none absolute top-[4px] h-[30px] w-[2px] content-[""];
        }

        .label {
          @apply absolute top-[34px] left-[6px] m-0 origin-top-left transform-[rotate(45deg)] text-sm select-none;
        }
      }
    }
  }

  .actions {
    @apply flex flex-row items-center justify-between;
  }
}
