#events\/rsvp\/manage\/flyer {
  @apply relative w-full cursor-pointer overflow-hidden bg-cover bg-center;

  height: 240px;
  transition: height 0.15s ease;
  @media (min-width: 768px) {
    @apply w-full max-w-3xl;
    height: 384px;
  }

  img {
    @apply block h-full w-full object-cover object-center;
  }
  &::after {
    @apply pointer-events-none absolute w-full;
    content: "";
    height: 140px;
    top: calc(100% - 140px);
    background: linear-gradient(
      to bottom,
      transparent 0%,
      color-mix(in oklab, var(--color-lsd-black) 80%, transparent) 60%,
      color-mix(in oklab, var(--color-lsd-black) 90%, transparent) 70%,
      var(--color-lsd-black) 100%
    );
  }
}

#events\/rsvp\/manage {
  @apply mx-auto w-full max-w-3xl px-6;

  header {
    @apply mb-6;
    h1 {
      @apply mb-2 text-2xl italic;
    }
    p {
      @apply text-lsd-gray text-sm leading-tight;
    }
    .when {
      @apply text-lsd-white mt-3 text-sm uppercase;
      letter-spacing: 0.2px;
    }
  }

  .buttons {
    @apply mb-6 flex flex-col gap-4;
    form {
      @apply flex;
    }
    a,
    button {
      @apply grow cursor-pointer rounded-lg py-4 text-center;
      &.edit,
      &.add-guests {
        @apply bg-lsd-charcoal;
      }
      &.contact {
        @apply border-lsd-charcoal border;
      }
      &.delete {
        @apply border-lsd-red/30 bg-lsd-red/20;
      }
    }

    .calendar {
      summary {
        @apply bg-lsd-charcoal cursor-pointer rounded-lg py-4 text-center;
        list-style: none;
        &::-webkit-details-marker {
          display: none;
        }
        &::after {
          @apply text-lsd-gray ml-2 inline-block;
          content: "\25be";
        }
      }
      &[open] summary {
        @apply rounded-b-none;
        &::after {
          transform: rotate(180deg);
        }
      }

      .options {
        @apply border-lsd-charcoal flex flex-col rounded-b-lg border border-t-0;
        a {
          @apply text-lsd-gray hover:text-lsd-white rounded-none py-3 text-sm;
        }
        a + a {
          @apply border-lsd-charcoal border-t;
        }
      }
    }
  }
}
