#events\/view {
  .flyer {
    @apply relative mx-4 mb-12 bg-cover bg-center;
    img {
      @apply block h-auto w-full;
    }
  }

  .title {
    @apply mb-6 text-2xl font-extrabold md:text-4xl;
  }

  .details {
    @apply text-lsd-gray border-lsd-white/20 mb-4 flex w-full justify-between border-b pb-1 text-lg md:text-2xl;
  }

  .description {
    @apply text-lg leading-relaxed;
  }

  form {
    @apply flex justify-center;
    .rsvp {
      @apply mt-6 mb-12 px-24 py-3 text-4xl font-bold;
      letter-spacing: 4px;
    }
  }
}
