{% extends "layout.html" %}

{% block title %}light and sound{% endblock title %}

{% block content %}
  {% if let Some(user) = user %}
    <form action="/user/edit" method="post">
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" value="{{ user.email }}" />
      </div>
      <div class="field">
        <label for="first_name">First name</label>
        <input
          type="first_name"
          name="first_name"
          {% if let Some(first_name) = user.first_name %}
            value="{{ first_name }}"
          {% endif %}
        />
      </div>
      <div class="field">
        <label for="last_name">Last name</label>
        <input
          type="last_name"
          name="last_name"
          {% if let Some(last_name) = user.last_name %}
            value="{{ last_name }}"
          {% endif %}
        />
      </div>
      <div class="field">
        <button type="submit">Edit user</button>
      </div>
    </form>
  {% else %}
    No user found.
  {% endif %}
{% endblock content %}
