{% extends "editor.html" %}
{% block title %}Edit post - {{ post.title }}{% endblock title %}

{% block back %}
  <a href="/posts">&larr; All Posts</a>
{% endblock back %}

{% block actions %}
  <a class="ext/button" href="/posts/{{ post.slug }}/send">Send</a>
{% endblock actions %}

{% block form %}
  {% if post.id != 0 %}
    <input type="hidden" name="id" value="{{ post.id }}" />
  {% endif %}

  <div class="field">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" value="{{ post.title }}" />
  </div>
  <div class="field">
    <label for="slug">Slug</label>
    <input type="text" id="slug" name="slug" value="{{ post.slug }}" />
  </div>
  <div class="field">
    <label for="author">Author</label>
    <input type="text" id="author" name="author" value="{{ post.author }}" />
  </div>
{% endblock form %}
