{% extends "layout.html" %}

{% block title %}light and sound - new event{% endblock title %}

{% block styles %}
  <style>
    body {
      background-color: #000;
      color: #fff;
      font-family: Arial, sans-serif;
      margin: 15px;
      padding: 0;
    }
    form {
      display: flex;
      flex-direction: column;
    }
  </style>
{% endblock styles %}

{% block content %}
  <main>
    <h1>Let's Create an Event</h1>
    <form action="/event/create" method="post">
      <label for="title">Event Title</label>
      <input type="text" name="title" />

      <label for="artist">Artist Name</label>
      <input type="text" name="artist" />

      <label for="description">Event Description</label>
      <textarea name="description">What can people expect...</textarea>

      <label for="start_date">Event Date</label>
      <input type="datetime-local" name="start_date" />

      <label for="cover_image">Event Cover Image</label>
      <input type="file" name="cover_image" />

      <button type="submit">Create</button>
    </form>
  </main>
{% endblock content %}
