{% extends "editor.html" %}
{% block title %}Edit invite - {{ event.title }}{% endblock title %}

{% block back %}
  <a href="/events">&larr; All Events</a>
{% endblock back %}

{% block form %}
  <div class="field">
    <label for="subject">Subject</label>
    <input
      type="text"
      id="subject"
      name="subject"
      value="{% if let Some(subject) = event.invite_subject.as_deref() %}
        {{ subject }}
      {% else %}
        Invitation to {{ event.title }}
      {% endif %}"
      required
    />
  </div>
{% endblock form %}

{% block actions %}
  <a
    href="/events/{{ event.id }}/invite/preview"
    class="ext/button"
    type="button"
    >Preview</a
  >
  <button id="send" class="ext/button" type="button">Send</button>
{% endblock actions %}

{% block extra_scripts %}
  <script>
    document.getElementById("send").addEventListener("click", () => {
      if (window.editor.localUpdatedAt != null) {
        alert("Please save first!");
      } else {
        const id = window.editor.entityId;
        window.location.href = `/events/${id}/invite/send`;
      }
    });
  </script>
{% endblock extra_scripts %}
