{% extends "layout.html" %}

{% block title %}{{ event.title }}{% endblock title %}

{% block head %}
  <script
    src="https://unpkg.com/htmx.org@2.0.4"
    integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
    crossorigin="anonymous"
  ></script>
{% endblock head %}

{% block content %}
  <div id="events/view">
    <h1>Update Event: {{ event.title }}</h1>
    <form
      class="ext/form"
      action="/events/{{ event.id }}/update"
      method="post"
      onsubmit="normalizeFields(event)"
    >
      <div class="field">
        <label for="title">Event Title</label>
        <input type="text" name="title" value="{{ event.title }}" required />
      </div>

      <div class="field">
        <label for="url">Slug</label>
        <input
          type="text"
          id="url"
          name="url"
          value="{{ event.url }}"
          required
        />
      </div>

      <div class="field">
        <label for="description">Event Description</label>
        <textarea name="description" value="{{ event.description }}">
What can people expect...</textarea
        >
      </div>

      <div class="field">
        <label for="start_date_select">Event Date</label>
        <input
          type="datetime-local"
          name="start_date_select"
          value="{{ event.start_date }}"
          required
        />
      </div>

      <div class="field">
        <label for="target_revenue">Target revenue ($)</label>
        <input
          type="number"
          name="target_revenue"
          value="{{ event.target_revenue }}"
          step="1"
          required
        />
      </div>

      <!-- <label for="cover_image">Event Cover Image</label>
            <input type="file" name="cover_image" /> -->

      <h2>Available reservation types</h2>

      {# TODO: ability to pick from saved reservation_types #}
      <div id="reservation_types_list">
        <div class="form flex flex-row" id="row_0">
          <input
            type="text"
            name="name"
            placeholder="Name"
            required
          />
          <input
            type="text"
            name="details"
            placeholder="Details"
          />
          <input
            type="number"
            min="0"
            step="1"
            name="quantity"
            placeholder="Quantity"
            required
          />
          <input
            type="number"
            min="0"
            step="1"
            name="min_contribution"
            placeholder="Minimum ($)"
            required
          />
          <input
            type="number"
            min="0"
            step="1"
            name="max_contribution"
            placeholder="Maximum ($)"
            required
          />
          <input
            type="number"
            min="0"
            step="1"
            name="recommended_contribution"
            placeholder="Recommended ($)"
            required
          />
        </div>
      </div>

      <button
        type="button"
        id="add_reservation_row"
        onclick="addReservationRow(event)"
      >
        Add reservation type
      </button>

      <div class="flex flex-row">
        <button class=":green m-auto w-full" type="submit">
          {% if event.title.is_empty() %}Create{% else %}Update{% endif %} event
        </button>
        <button
          class=":red m-auto w-full"
          type="button"
          hx-delete="/events/{{ event.id }}/edit"
          hx-confirm="Are you sure you want to delete the event?"
        >
          Delete event
        </button>
      </div>
    </form>
  </div>
  <script>
    let reservationIndex = 0;

    function addReservationRow(e) {
      e.preventDefault();

      reservationIndex += 1;

      const list = document.getElementById("reservation_types_list");
      const template = document.getElementById("row_0");

      const clone = template.cloneNode(true);

      clone.id = `row_${reservationIndex}`;
      for (const input of clone.querySelectorAll("input")) {
        input.name = input.name.replace("0", reservationIndex);
      }

      const button = document.createElement("button");
      button.type = "button";
      button.innerText = "-";
      button.reservationIndex = reservationIndex;
      button.onclick = removeReservationRow;
      clone.appendChild(button);

      list.appendChild(clone);
    }

    function removeReservationRow(e) {
      e.preventDefault();
      document.getElementById(`row_${e.target.reservationIndex}`).remove();
    }

    async function normalizeFields(e) {
      e.preventDefault();
      const form = e.target;

      let reservation_types = [];
      for (const row of document.getElementById("reservation_types_list").childNodes) {
        const obj = {
          event_id: {{ event.id }},
          name: row.querySelector('[name="name"]').value,
          details: row.querySelector('[name="details"]').value,
          quantity: row.querySelector('[name="quantity"]').value,
          min_contribution: row.querySelector('[name="min_contribution"]').value,
          max_contribution: row.querySelector('[name="max_contribution"]').value,
          recommended_contribution: row.querySelector('[name="recommended_contribution"]').value,
        };
        reservation_types.append(obj);
      }

      const data = {
        title: form.querySelector('[name="title"]').value,
        description: form.querySelector('[name="description"]').value,
        url: form.querySelector('[name="url"]').value,
        start_date: form.querySelector('[name="start_date_select"]').value + ":00",
        target_revenue: form.querySelector('[name="target_revenue"]').value,
        reservation_types: reservation_types,
      };

      const body = JSON.stringify(data);
      console.log(body);

      let response = await fetch("/events/{{ event.id }}/edit", {
        method: 'POST',
        headers: 'Content-Type: application/json',
        body: body,
      });

      console.log("response: ", response);
    }
  </script>
{% endblock content %}
