{% extends "layout.html" %}

{% block title %}light and sound - events{% endblock title %}

{% block content %}
  <div id="events/list">
    <h1 class="title">Upcoming Events</h1>
    {% for event in events %}
      <div key="event-{{ event.id }}" class="event">
        <a href="/events/{{ event.id }}">
          {% if event.flyer | has_value %}
            <img
              src="{{ event.flyer | unwrap_or_empty }}"
              alt="{{ event.title }} cover image"
              class="event-cover-thumbnail"
            />
          {% endif %}
          <div class="event-info">
            <span class="event-date"
              >{{ event.start | format_datetime("%b %d, %Y") }}</span
            >
            <span class="event-title">{{ event.title }}</span>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
