{% extends "layout.html" %}

{% block title %}light and sound - events{% endblock title %}

{% block styles %}
{% endblock styles %}

{% block content %}
  <div id="events/list">
    <h1 class="title">Upcoming Events</h1>
    {% for event in events %}
      <div key="event-{{ event.id }}" class="event">
        <a href="/events/{{ event.id }}">
          {{ event.start_date | format_datetime("%b %d, %Y") }} |
          {{ event.title }}
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
