{% extends "layout.html" %}

{% block title %}RSVP to {{ event.title }}{% endblock title %}

{% block content %}
  <section id="events/rsvp">
    <h1>{{ event.title }}</h1>
    <form id="form" class="ext/form">
      {% if user.is_none() %}
      {% endif %}

      {% for spot in spots %}
        <div class="spot">
          <h2>{{ spot.name }}</h2>
          <p>{{ spot.description }}</p>
          <div class="field">
            <label for="quantity">Quantity</label>
            <select name="quantity" data-spot-id="{{ spot.id }}"></select>
          </div>
        </div>
      {% endfor %}
    </form>
  </section>
{% endblock content %}

{% block scripts %}
  <script>
    const $ = (id) => document.getElementById(id);
    const ui = {
      form: $("form"),
      spots: () => [...ui.list.querySelectorAll(".spot")],
    };

    const event = JSON.parse(`{{ event | json | safe }}`);
    const spots = JSON.parse(`{{ spots | json | safe }}`);
    const stats = JSON.parse(`{{ stats | json | safe }}`);

    function render() {
      for (const spot of ui.spots()) {
      }
    }
  </script>
{% endblock scripts %}
