{% extends "layout.html" %}

{% block title %}RSVP to {{ event.title }} - L&SD{% endblock title %}

{% block content %}
  <section id="events/rsvp/guestlist" class="ext/layout thin">
    <header>
      <h1>Please verify your invitation with your email address.</h1>
    </header>
    <form
      id="form"
      class="ext/form"
      method="POST"
      action="/e/{{ event.slug }}/rsvp/guestlist"
    >
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" />
      </div>
      <div class="actions">
        <a href="/e/{{ event.slug }}" class="ext/button">&larr; Back</a>
        <button id="continue" class="ext/button :green" type="submit">
          Continue
        </button>
      </div>
    </form>
  </section>
{% endblock content %}
