{% extends "events/rsvp_layout.html" %}
{% block head %}
  {% if price > 0 %}
    <script src="https://js.stripe.com/basil/stripe.js"></script>
  {% endif %}
{% endblock head %}

{% block title %}light and sound - RSVP{% endblock title %}

{% block progress %}
  <div class="tick filled"></div>
  <div class="tick filled"></div>
  <div class="tick filled"></div>
{% endblock progress %}

{% block back %}
  <a id="back" href="/e/{{ event.slug }}/rsvp/attendees">
    <span>&larr;</span>
  </a>
{% endblock back %}

{% block content %}
  <section id="events/rsvp/contribution" class="events/rsvp/layout nofloat">
    <div id="events/rsvp/summary">
      <div class="info">
        <p class="title">Summary</p>
        <p class="subtext">Your spot will be held for 30 minutes.</p>
        <div class="line-items">
          {% for rsvp in rsvps %}
            <div class="item">
              <div class="spot">
                <div class="name">{{ rsvp.spot_name }}</div>
                <span class="price">${{ rsvp.contribution }}</span>
              </div>
              <span class="email">{{ rsvp.email }}</span>
            </div>
          {% endfor %}
        </div>
        <div class="total">
          <p>Total</p>
          <p id="price">${{ price }}</p>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="zigzag">
        <div class="stroke"></div>
        <div class="fill"></div>
      </div>
    </div>
    {% if price > 0 %}
      <div class="payment">
        <div id="stripe"></div>
      </div>
    {% endif %}
    <div id="events/rsvp/actions" class="nofloat">
      {% if price > 0 %}
        <button id="next" class="next">
          <span>Pay now</span>
          <div class="right">
            <em id="total">${{ price }}</em>
            <span>&rarr;</span>
          </div>
        </button>
      {% else %}
        <form action="/e/{{ event.slug }}/rsvp/confirm" method="POST">
          <button class="next" type="submit">
            <span>Confirm</span>
            <div class="right">
              <span>&rarr;</span>
            </div>
          </button>
        </form>
      {% endif %}
    </div>
  </section>
{% endblock content %}

{% block scripts %}
  {% if price > 0 %}
    <script>
      /* ---------- UI ---------------------------------------------------------- */
      const $ = (id) => document.getElementById(id);
      const ui = {
        email: $("email"),
        price: $("price"),
        next: $("next"),
      };

      let checkout;
      (async () => {
        const stripe = Stripe(`{{ stripe_publishable_key }}`);
        checkout = await stripe.initCheckout({
          fetchClientSecret: async () =>
            `{{ session.stripe_client_secret.as_ref().unwrap() }}`,
          elementsOptions: {
            appearance: {
              theme: "night",
              variables: {
                fontFamily: "Poppins, sans-serif",
                colorPrimary: "#8ec6ff",
                colorBackground: "#080504",
                colorText: "#ebe3de",
                colorDanger: "#c34346",
              },
              rules: {
                ".Block, .Tab, .Input": {
                  borderColor: "color-mix(in oklab, #ebe3de 30%, transparent)",
                  borderWidth: "1px",
                  borderStyle: "solid",
                },
              },
            },
          },
        });

        const paymentEl = checkout.createPaymentElement();
        paymentEl.mount("#stripe");
      })();

      /* ---------- Submit ----------------------------------------------------- */
      ui.next.addEventListener("click", async (e) => {
        ui.next.classList.add("disabled");
        res = await checkout.confirm();
        ui.next.classList.remove("disabled");
        if (res?.type === "error") {
          alert(res.error.message);
        }
      });
    </script>
  {% endif %}
{% endblock scripts %}
