{% extends "events/rsvp_layout.html" %}

{% block title %}light and sound - RSVP{% endblock title %}

{% block progress %}
  <div class="tick filled"></div>
  <div class="tick filled"></div>
  <div class="tick"></div>
{% endblock progress %}

{% block back %}
  <a id="back" href="/e/{{ event.slug }}/rsvp/selection">
    <span>&larr;</span>
  </a>
{% endblock back %}

{% block content %}
  <section id="events/rsvp/attendees" class="events/rsvp/layout">
    <header>
      <h1>Who will be <em>attending</em>?</h1>
    </header>
    <form id="form" class="ext/form">
      {% for attendee in attendees %}
        <div class="attendee" data-rsvp-id="{{ attendee.rsvp_id }}">
          <div class="header">
            <p class="index">Guest #{{ loop.index }}</p>
            {% if attendees.len() > 1 %}
              <label class="is-me">
                <input
                  class="ext/input radio"
                  type="radio"
                  name="is_me"
                  value="{{ attendee.rsvp_id }}"
                  required
                  {% if loop.index == 1 %}
                    checked
                  {% endif %}
                />
                <span>Me</span>
              </label>
            {% endif %}
          </div>
          <div class="subtext">
            <p class="spot">{{ attendee.spot_name }}</p>
            <p class="price">$0</p>
          </div>
          <div class="name">
            <label class="first field">
              <span class="label">First name</span>
              <input
                name="first_name"
                class="ext/input"
                type="text"
                value="{{ attendee.first_name | unwrap_or_empty }}"
                autocomplete="given-name"
                required
              />
            </label>
            <label class="last field">
              <span class="label">Last name</span>
              <input
                name="last_name"
                class="ext/input"
                type="text"
                value="{{ attendee.last_name | unwrap_or_empty }}"
                autocomplete="family-name"
                required
              />
            </label>
          </div>
          <div>
            <label class="field email">
              <span class="label">Email</span>
              <input
                name="email"
                class="ext/input"
                type="email"
                value="{{ attendee.email | unwrap_or_empty }}"
                autocomplete="email"
                required
              />
            </label>
          </div>
          <div>
            <label class="field">
              <span class="label">Phone (1234567890)</span>
              <input
                name="phone"
                class="ext/input"
                type="tel"
                value="{{ attendee.phone | unwrap_or_empty }}"
                pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                autocomplete="tel"
              />
            </label>
          </div>
        </div>
      {% endfor %}
    </form>
    <div id="events/rsvp/actions">
      <button class="share">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 48 48"
        >
          <path
            fill="currentColor"
            d="M37.75 20.25a1.75 1.75 0 0 1 1.744 1.606L39.5 22v14.25a5.75 5.75 0 0 1-5.53 5.745l-.22.005h-19.5a5.75 5.75 0 0 1-5.746-5.53l-.004-.22V22a1.75 1.75 0 0 1 3.494-.144L12 22v14.25a2.25 2.25 0 0 0 2.096 2.244l.154.006h19.5a2.25 2.25 0 0 0 2.245-2.096L36 36.25V22c0-.967.783-1.75 1.75-1.75ZM23.499 6.267l.149-.014l.175-.002l.154.013l.178.032l.069.018c.195.054.383.143.553.267l.12.095l.093.086l7.778 7.778a1.75 1.75 0 0 1-2.35 2.589l-.125-.114l-4.793-4.793V31.5a1.75 1.75 0 0 1-1.607 1.744l-.143.006a1.75 1.75 0 0 1-1.744-1.607L22 31.5V12.226l-4.788 4.79a1.75 1.75 0 0 1-2.35.113l-.125-.114a1.75 1.75 0 0 1-.114-2.35l.114-.125l7.752-7.754a1.83 1.83 0 0 1 .179-.162l.113-.08c.038-.027.077-.051.118-.074l.019-.009a1.72 1.72 0 0 1 .58-.194Z"
          />
        </svg>
      </button>
      <button id="next" class="next">
        <span>Next</span>
        <div class="right">
          <em id="total">${{ price }}</em>
          <span>&rarr;</span>
        </div>
      </button>
    </div>
    <div id="events/rsvp/fade"></div>
  </section>
{% endblock content %}

{% block scripts %}
  <script>
    /* ---------- Save session ------------------------------------------------ */
    const queryString = new URLSearchParams(location.search);
    const token = encodeURIComponent(queryString.get("session"));
    const key = `rsvps/{{ session.event_id }}`;
    localStorage[key] = JSON.stringify({ token, page: "attendees" });

    /* ---------- UI ---------------------------------------------------------- */
    const $ = (id) => document.getElementById(id);

    const ui = {
      form: $("form"),
      next: $("next"),
      attendees: () => [...ui.form.querySelectorAll(".attendee")],
      field: (a, name) => a.querySelector(`[name="${name}"]`),
      isMeRadios: () => [...ui.form.querySelectorAll('input[name="is_me"]')],
    };

    // Provide current user data for autofill; null if not logged in.
    const user = JSON.parse(`{{ user | json | safe }}`);

    /* ---------- Handle "This is me!" selection and autofill ----------------- */
    ui.form.addEventListener("change", (e) => {
      if (!user || e.target.name != "is_me") return;

      // Find ticked "is_me"
      const ticked = ui.isMeRadios().find((r) => r.checked);
      if (!ticked) return;

      // Re-enable all fields, and clear out the previous "is_me"
      for (const a of ui.attendees()) {
        const is_prev_me = ui.field(a, "email").value == user.email;

        for (const name of ["first_name", "last_name", "email", "phone"]) {
          const field = ui.field(a, name);
          field.disabled = false;
          if (is_prev_me) {
            field.value = null;
          }
        }
      }

      // Then autofill and disable just the fields for the user
      const a = ticked.closest(".attendee");
      let first = ui.field(a, "first_name");
      let last = ui.field(a, "last_name");
      let email = ui.field(a, "email");
      let phone = ui.field(a, "phone");
      first.disabled = true;
      last.disabled = true;
      email.disabled = true;
      phone.disabled = phone != null;
      first.value = user.first_name;
      last.value = user.last_name;
      email.value = user.email;
      phone.value = user.phone;
    });

    /* ---------- Next button ------------------------------------------------ */
    ui.next.addEventListener("click", async () => {
      // Let the browser run built-in HTML validation first.
      if (!ui.form.reportValidity()) return;

      const attendees = [];
      for (const a of ui.attendees()) {
        const rsvp_id = +a.dataset.rsvpId;
        const first_name = ui.field(a, "first_name").value.trim();
        const last_name = ui.field(a, "last_name").value.trim();
        const email = ui.field(a, "email").value.trim();
        const phone = ui.field(a, "phone").value.trim();

        // When there's only a single RSVP, is_me is always true
        let is_me_radio = a.querySelector('input[name="is_me"]');
        const is_me = is_me_radio ? is_me_radio.checked : true;

        attendees.push({ rsvp_id, first_name, last_name, email, phone, is_me });
      }

      const query = new URLSearchParams(location.search);
      const session = encodeURIComponent(query.get("session"));

      const form = document.createElement("form");
      form.method = "POST";
      form.action = `/e/{{ event.slug }}/rsvp/attendees?session=${session}`;

      const input = document.createElement("input");
      input.type = "hidden";
      input.name = "attendees";
      input.value = JSON.stringify(attendees);
      form.appendChild(input);

      document.body.appendChild(form);
      form.submit();
    });
  </script>
{% endblock scripts %}
