{% extends "layout.html" %}

{% block title %}light and sound - RSVP{% endblock title %}

{% block content %}
  <section id="events/rsvp/attendees" class="ext/layout standard">
    <header>
      <h1>Who will be attending?</h1>
    </header>
    <form id="form" class="ext/form">
      {% for attendee in attendees %}
        <div class="attendee" data-rsvp-id="{{ attendee.rsvp_id }}">
          <div class="header">
            <h2 class="name">
              {{ attendee.spot_name }}
              {% if attendees.len() > 1 %}({{ loop.index }}){% endif %}
            </h2>

            {% if attendees.len() > 1 %}
              <label class="is-me">
                <input
                  class="ext/input radio"
                  type="radio"
                  name="is_me"
                  value="{{ attendee.rsvp_id }}"
                  required
                />
                <span>This is me!</span>
              </label>
            {% endif %}
          </div>

          <div class="fields">
            <label class="field">
              <span class="label">First name</span>
              <input
                name="first_name"
                class="ext/input"
                type="text"
                value="{{ attendee.first_name | unwrap_or_empty }}"
                autocomplete="given-name"
                required
              />
            </label>

            <label class="field">
              <span class="label">Last name</span>
              <input
                name="last_name"
                class="ext/input"
                type="text"
                value="{{ attendee.last_name | unwrap_or_empty }}"
                autocomplete="family-name"
                required
              />
            </label>

            <label class="field email">
              <span class="label">Email</span>
              <input
                name="email"
                class="ext/input"
                type="email"
                value="{{ attendee.email | unwrap_or_empty }}"
                autocomplete="email"
                required
              />
            </label>

            <label class="field">
              <span class="label">Phone (1234567890)</span>
              <input
                name="phone"
                class="ext/input"
                type="tel"
                value="{{ attendee.phone | unwrap_or_empty }}"
                pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                autocomplete="tel"
              />
            </label>
          </div>
        </div>
      {% endfor %}
    </form>

    <div class="actions">
      <a
        href="/e/{{ slug }}/rsvp/selection?session={{ session.token }}"
        class="ext/button"
        >&larr; Change Contribution{% if attendees.len() > 1 %}s{% endif %}</a
      >
      <button id="continue" class="ext/button :green" type="submit">
        Continue
      </button>
    </div>
  </section>
{% endblock content %}

{% block scripts %}
  <script>
    /* ---------- Save session ------------------------------------------------ */
    const queryString = new URLSearchParams(location.search);
    const token = encodeURIComponent(queryString.get("session"));
    const key = `rsvps/{{ session.event_id }}`;
    localStorage[key] = JSON.stringify({ token, page: "attendees" });

    /* ---------- UI ---------------------------------------------------------- */
    const $ = (id) => document.getElementById(id);

    const ui = {
      form: $("form"),
      continue: $("continue"),
      attendees: () => [...ui.form.querySelectorAll(".attendee")],
      field: (a, name) => a.querySelector(`[name="${name}"]`),
      isMeRadios: () => [...ui.form.querySelectorAll('input[name="is_me"]')],
    };

    // Provide current user data for autofill; null if not logged in.
    const user = JSON.parse(`{{ user | json | safe }}`);

    /* ---------- Handle "This is me!" selection and autofill ----------------- */
    ui.form.addEventListener("change", (e) => {
      if (!user || e.target.name != "is_me") return;

      // Find ticked "is_me"
      const ticked = ui.isMeRadios().find((r) => r.checked);
      if (!ticked) return;

      // Re-enable all fields, and clear out the previous "is_me"
      for (const a of ui.attendees()) {
        const is_prev_me = ui.field(a, "email").value == user.email;

        for (const name of ["first_name", "last_name", "email"]) {
          const field = ui.field(a, name);
          field.disabled = false;
          if (is_prev_me) {
            field.value = null;
          }
        }
      }

      // Then autofill and disable just the fields for the user
      const a = ticked.closest(".attendee");
      let first = ui.field(a, "first_name");
      let last = ui.field(a, "last_name");
      let email = ui.field(a, "email");
      let phone = ui.field(a, "phone");
      first.disabled = true;
      last.disabled = true;
      email.disabled = true;
      phone.disabled = phone != null;
      first.value = user.first_name;
      last.value = user.last_name;
      email.value = user.email;
      phone.value = user.phone;
    });

    /* ---------- Continue button -------------------------------------------- */
    ui.continue.addEventListener("click", async () => {
      // Let the browser run built-in HTML validation first.
      if (!ui.form.reportValidity()) return;

      const attendees = [];
      for (const a of ui.attendees()) {
        const rsvp_id = +a.dataset.rsvpId;
        const first_name = ui.field(a, "first_name").value.trim();
        const last_name = ui.field(a, "last_name").value.trim();
        const email = ui.field(a, "email").value.trim();
        const phone = ui.field(a, "phone").value.trim();

        // When there's only a single RSVP, is_me is always true
        let is_me_radio = a.querySelector('input[name="is_me"]');
        const is_me = is_me_radio ? is_me_radio.checked : true;

        attendees.push({ rsvp_id, first_name, last_name, email, phone, is_me });
      }

      const query = new URLSearchParams(location.search);
      const session = encodeURIComponent(query.get("session"));

      const form = document.createElement("form");
      form.method = "POST";
      form.action = `/e/{{ slug }}/rsvp/attendees?session=${session}`;

      const input = document.createElement("input");
      input.type = "hidden";
      input.name = "attendees";
      input.value = JSON.stringify(attendees);
      form.appendChild(input);

      document.body.appendChild(form);
      form.submit();
    });
  </script>
{% endblock scripts %}
