{% extends "layout.html" %}
{% block head %}
  {% if price > 0 %}
    <script src="https://js.stripe.com/basil/stripe.js"></script>
  {% endif %}
{% endblock head %}

{% block title %}light and sound - RSVP{% endblock title %}

{% block content %}
  <section id="events/rsvp/contribution" class="ext/layout standard">
    <header>
      <h1>Summary</h1>
    </header>
    <form
      id="form"
      class="ext/form"
      method="POST"
      action="/e/{{ slug }}/rsvp/contribution?session={{ session.token }}"
    >
      <div class="field">
        <ul class="line-items">
          {% for rsvp in rsvps %}
            <li class="item">
              <div class="contact">
                <div class="title">{{ rsvp.spot_name }}</div>
                <span class="attendee"
                  >{{ rsvp.first_name }} {{ rsvp.last_name }} • {{ rsvp.email }}
                </span>
              </div>
              <span class="price">${{ rsvp.contribution }}</span>
            </li>
          {% endfor %}
          <li class="price">
            <span class="left">Total</span>
            <span id="price" class="right">${{ price }}</span>
          </li>
        </ul>
      </div>
      {% if price > 0 %}
        <div class="field">
          <div id="stripe"></div>
        </div>
      {% endif %}
      <div class="actions field">
        {% if rsvps.len() == 1 %}
          <a
            href="/e/{{ slug }}/rsvp/selection?session={{ session.token }}"
            class="ext/button"
            >&larr; Change Contribution</a
          >
        {% else %}
          <a
            href="/e/{{ slug }}/rsvp/attendees?session={{ session.token }}"
            class="ext/button"
            >&larr; Change Attendees</a
          >
        {% endif %}
        <button id="checkout" class="ext/button :green" type="submit">
          {% if price > 0 %}
            Contribute
          {% else %}
            RSVP
          {% endif %}
        </button>
      </div>
    </form>
  </section>
{% endblock content %}

{% block scripts %}
  {% if price > 0 %}
    <script>
      /* ---------- UI ---------------------------------------------------------- */
      const $ = (id) => document.getElementById(id);
      const ui = {
        form: $("form"),
        email: $("email"),
        price: $("price"),
      };

      let checkout;

      (async () => {
        const stripe = Stripe(`{{ stripe_publishable_key }}`);
        checkout = await stripe.initCheckout({
          fetchClientSecret: async () =>
            `{{ session.stripe_client_secret.as_ref().unwrap() }}`,
          elementsOptions: {
            appearance: {
              theme: "night",
              variables: {
                fontFamily: "Poppins, sans-serif",
                colorPrimary: "#8ec6ff",
                colorBackground: "#080504",
                colorText: "#ebe3de",
                colorDanger: "#c34346",
              },
              rules: {
                ".Block, .Tab, .Input": {
                  borderColor: "color-mix(in oklab, #ebe3de 30%, transparent)",
                  borderWidth: "1px",
                  borderStyle: "solid",
                },
              },
            },
          },
        });

        const paymentEl = checkout.createPaymentElement();
        paymentEl.mount("#stripe");
      })();

      /* ---------- Submit: update email then confirm -------------------------- */
      ui.form.addEventListener("submit", async (e) => {
        e.preventDefault();
        if (!ui.form.reportValidity()) return;

        res = await checkout.confirm();
        if (res?.type === "error") {
          alert(res.error.message);
        }
      });
    </script>
  {% endif %}
{% endblock scripts %}
