{% extends "layout.html" %}
{% block title %}Send day-of info for {{ event.title }}{% endblock %}

{% block content %}
  <section id="posts/send" class="ext/layout standard">
    <header>
      <h1>Send day-of info for {{ event.title }}</h1>
      {% if let Some(sent_at) = event.dayof_sent_at %}
        <p class="already-sent">
          Sent on {{ sent_at | format_datetime("%b %d at %l:%M %p") }}. New
          RSVPs will receive this email along with their confirmation.
        </p>
      {% endif %}
    </header>
    <form
      id="form"
      class="ext/form"
      method="POST"
      action="/events/{{ event.id }}/dayof/send"
    >
      <div id="progress" class="field">
        <ul class="counts">
          <li>Sent<span id="sent">0</span></li>
          <li>Remaining<span id="remaining">0</span></li>
          <li>ETA<span id="eta"></span></li>
        </ul>

        <div class="bar-container">
          <div id="bar"></div>
        </div>
        <p id="status"></p>
        <pre id="errors"></pre>
      </div>
      <button
        id="send"
        class="ext/button :green"
        {% if event.dayof_sent_at.is_some() %}disabled{% endif %}
      >
        Send
      </button>
    </form>
  </section>
{% endblock content %}

{% block scripts %}
  <!-- prettier-ignore -->
  <script type="module">
    /* ---------- DOM ----------------------------------------------------------- */
    const $ = (id) => document.getElementById(id);
    const ui = {
      form:   $('form'),
      send:   $('send'),

      sent:   $('sent'),
      remain: $('remaining'),
      eta:    $('eta'),
      bar:    $('bar'),

      status: $('status'),
      errors: $('errors'),
      prog:   $('progress'),
    };

    /* ---------- State --------------------------------------------------------- */
    const ratelimit = parseInt("{{ ratelimit }}");
    const state = {
      status: null,
      statusText() {
        switch (this.status) {
          case 'sending': return 'Sending...';
          case 'ok': return 'Sent successfully!';
          case 'error': return this.sent > 0 ? 'Sent with errors' : 'Error sending';
        }
      },

      errors: [],
      progress: {
        start: Date.now(),
        sent: parseInt(`{{ list.sent }}`),
        remaining: parseInt(`{{ list.count }}`) - parseInt(`{{ list.sent }}`),
        percent() {
          const total = this.sent + this.remaining;
          return total > 0 ? (this.sent / total) * 100 : 0;
        },
        eta() {
          const rem = this.remaining / ratelimit;
          const min = Math.floor(rem / 60);
          const sec = Math.floor(rem % 60);
          return `${min}:${String(sec).padStart(2, '0')}`;
        },
      },
    };

    /* ---------- Rendering ----------------------------------------------------- */
    const render = () => {
      // Update status
      ui.status.textContent = state.statusText();
      ui.status.className = state.status;
      ui.bar.className = state.status;
      ui.errors.className = state.status;

      // Update progress
      ui.sent.textContent   = state.progress.sent;
      ui.remain.textContent = state.progress.remaining;
      ui.eta.textContent    = state.progress.eta();
      ui.bar.style.width    = state.progress.percent() + '%';
      ui.errors.textContent = state.errors.join('\n');

      // Update send button
      ui.send.disabled = state.progress.remaining == 0 || state.status == 'sending';
      ui.send.textContent = `Send ${state.progress.remaining}${state.progress.sent > 0 ? ' remaining' : ''} email${state.progress.remaining == 1 ? '' : 's'}`;
    }
    render();

    /* ---------- Form submit handler ------------------------------------------- */
    const submit = async () => {
      state.status = 'sending';
      state.progress.start = Date.now();
      state.errors = [];
      render();

      try {
        const resp = await fetch(ui.form.action, { method: "POST" });
        if (!resp.ok) throw new Error(await resp.text());

        // The server streams us messages of the form:
        // * {sent: 1, remaining: 2}
        // * {error: "..."}
        for await (const msg of streamJson(resp.body)) {
          if (msg.error) {
            state.errors.push(msg.error);
            continue;
          }

          state.progress.sent = msg.sent;
          state.progress.remaining = msg.remaining;
          console.log(`progress.sent=${state.progress.sent} progress.remaining=${state.progress.remaining}`);
          render();
        }

        state.status = "ok";
      } catch (e) {
        state.errors.push(e.stack);
        state.status = 'error';
      }
      render();
    };
    ui.send.addEventListener("click", async (e) => (e.preventDefault(), await submit()));

    /* ---------- Stream JSON from request body --------------------------------- */
    async function* streamJson(body) {
      const reader = body.getReader();

      const decoder = new TextDecoder();
      let buffer = "";
      while (true) {
        // Read some data. It might contain multiple or partial lines.
        const { value, done } = await reader.read();
        if (done) break;
        buffer += decoder.decode(value, { stream: true });

        // Consume as many complete lines as we can from the buffer.
        let i;
        while ((i = buffer.indexOf("\n")) !== -1) {
          const line = buffer.slice(0, i).trim();
          yield JSON.parse(line);
          buffer = buffer.slice(i + 1);
        }
      }
    }
  </script>
{% endblock scripts %}
