{% extends "layout.html" %}

{% block title %}light and sound - stats{% endblock title %}

{% block content %}
  <section id="events/stats">
    <header>
      <h1>{{ event.title }}</h1>
      <p class="date">{{ event.start | format_datetime("%a %b %d, %Y") }}</p>
    </header>
    <div class="card total">
      <h2 class="name">Total RSVPs</h2>
      <div class="split">
        <span class="count">{{ attendees }} of {{ event.capacity }}</span>
        <span class="remaining">{{ remaining }} left</span>
      </div>
      <div class="bar">
        <div class="fill" style="width: {{ capacity_pct }}%"></div>
      </div>
    </div>

    {% for spot in spots %}
      <div class="card spot">
        <h2 class="name">
          {{ spot.name }}{% if let Some(price) = spot.price() %}
            (${{ price }})
          {% endif %}
        </h2>
        <div class="split">
          <span class="count">{{ spot.rsvp_count }} of {{ spot.qty_total }}</span>
          <span class="remaining">{{ spot.remaining() }} left</span>
        </div>
        <div class="bar">
          <div class="fill" style="width: {{ spot.pct() }}%"></div>
        </div>
      </div>
    {% endfor %}

    <div class="card contributions">
      <div class="info">
        <h2 class="name">Total Contributions</h2>
        <div class="items">
          {% for spot in spots %}
            <span class="qty">{{ spot.rsvp_count }}</span>
            <span>&times;</span>
            <span>{{ spot.name }}</span>
            <span class="amount">${{ spot.contributions }}</span>
          {% endfor %}
          {% if manual_count > 0 %}
            <span class="qty"><em>{{ manual_count }}</em></span>
            <span><em>&times;</em></span>
            <span><em>Added manually</em></span>
            <span class="amount"><em>$0</em></span>
          {% endif %}
        </div>
        <div class="rule"></div>
        <div class="row">
          <span>Total</span>
          <span>${{ total_contributions }}</span>
        </div>
        {% if event.artist_share > 0 %}
          <div class="row">
            <span>Artist share ({{ event.artist_share }}%)</span>
            <span>${{ artist_total }}</span>
          </div>
          <div class="row">
            <span>Studio share ({{ 100 - event.artist_share }}%)</span>
            <span>${{ studio_total }}</span>
          </div>
        {% endif %}
      </div>
      <div class="spacer"></div>
      <div class="zigzag">
        <div class="stroke"></div>
        <div class="fill"></div>
      </div>
    </div>
  </section>
{% endblock content %}
