{% extends "layout.html" %}

{% block title %}{{ event.title }}{% endblock title %}

{% block content %}
  <div id="events/view">
    <article>
      <section class="details">
        <h1 class="title">{{ event.title }}</h1>
      </section>
      <section class="content">{{ event.description | safe }}</section>
      <form action="/events/select_ticket" id="select-ticket">
        <label for="select-reservation">Choose reservation type:</label>
        <input type="submit" value="Continue" />
      </form>
      <select id="select-reservation" name="type" form="select-ticket">
        <option value="contribution">Contribution</option>
        <option value="work-trade">Work Trade</option>
        <option value="late-entry">4 AM Entry</option>
      </select>
    </article>
  </div>
{% endblock content %}
