{% extends "layout.html" %}

{% block title %}{{ event.title }}{% endblock title %}

{% block styles %}
{% endblock styles %}

{% block content %}
  <div id="events/view">
    <h1>Update Event: {{ event.title }}</h1>
    <form class="ext/form" action="/events/{{ event.id }}/update" method="post">
      <div class="field">
        <label for="title">Event Title</label>
        <input type="text" name="title" value="{{ event.title }}" />
      </div>

      <div class="field">
        <label for="artist">Artist Name</label>
        <input type="text" name="artist" value="{{ event.artist }}" />
      </div>

      <div class="field">
        <label for="description">Event Description</label>
        <textarea name="description" value="{{ event.description }}">
        What can people expect...
      </textarea>
      </div>

      <div class="field">
        <label for="start_date">Event Date</label>
        <input
          type="datetime-local"
          name="start_date"
          value="{{ event.start_date }}"
        />
      </div>

      <!-- <label for="cover_image">Event Cover Image</label>
            <input type="file" name="cover_image" /> -->

      <button type="submit">Update</button>
    </form>
    <form class="ext/form" action="/events/{{ event.id }}/delete" method="post">
      <button type="submit">Delete</button>
    </form>
  </div>
{% endblock content %}
