{% extends "layout.html" %}

{% block title %}{{ event.title }}{% endblock title %}

{% block content %}
  <div id="events/view">
    <article>
      <section class="details">
        <h1 class="title">{{ event.title }}</h1>
      </section>
      <section class="content">
        <section class="content">{{ event.description | safe }}</section>
      </section>
    </article>
    <a href="/e/{{ event.slug }}/rsvp"><button class="ext/button rsvp">RSVP</button></a>
  </div>
{% endblock content %}
