<!--
- TODO: Refactor pages to inherit base layout file
-->
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}light and sound design{% endblock title %}</title>
    <link href="/assets/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/dist.css" />
    {% block styles %}
    {% endblock styles %}
  </head>
  <body>
    {% block header %}
      <header class="border-b border-neutral-800 p-4">
        <nav>
          <!-- TODO: Link to "/" when the homepage is finished -->
          <a class="font-bold" href="https://lightandsound.design">
            lightandsound.design
          </a>
        </nav>
      </header>
    {% endblock header %}
    <main class="w-full max-w-4xl">
      {% block content %}{% endblock content %}
    </main>
  </body>
</html>
