{% import "page.tera.html" as page %}
{{ page::start(title="Send post - " ~ post.title) }}
<style>
    h1 {
        padding-bottom: 1rem;
    }
</style>
<form method="POST" action="/p/{{ post.url }}/send">
    <h1>{{ post.title }}</h1>
    <div class="field">
        <label for="list_id">Send to list</label>
        <select name="list_id">
            {% for list in lists %}
            <option value="{{ list.id }}">{{ list.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit">Send</button>
</form>
{{ page::end() }}
