{% import "page.tera.html" as page %}
{{ page::start(title="Edit post - " ~ post.title) }}
<script src="/assets/markdown.js"></script>
<style>
    .container {
        display: flex;
        flex: 1;
        height: calc(100vh - 80px);
    }
    .editor {
        flex: 1;
        border-right: 1px solid var(--color-border);

        textarea {
            flex-grow: 1;
        }
        .content {
            flex-grow: 1;
        }
        .url {
            display: inline-flex;
            align-items: center;

            width: 100%;
            padding: 0.5rem;
            background-color: var(--color-bg-alt);
            border: 1px solid var(--color-border);

            .origin {
                color: var(--color-text-muted);
                white-space: nowrap;
                font-family: monospace;
            }
            input[type="text"] {
                border: none;
                padding: 0;
                background: transparent;
            }
        }

        .toolbar {
            display: flex;
            gap: 0.5rem;
            margin-bottom: 1rem;
            padding: 0.5rem 0;
            justify-content: flex-start;
            align-items: center;

            #status {
                margin-left: auto;
                color: var(--color-text-muted);
                font-size: 0.9rem;
            }
            #status::before {
              content: "•";
              margin-right: 6px;
            }
        }
    }
    .preview {
        flex: 1;
        overflow-y: auto;
        transition: flex 250ms;
    }
    .preview.hidden {
        flex: 0;
        width: 0;
    }
</style>
<div class="container">
    <form class="editor form" method="POST" action="/p/{{ post.url }}/edit">
        {% if post.id != 0 %}
        <input type="hidden" name="id" value="{{ post.id }}">
        {% endif %}
        <div class="field">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="{{ post.title }}" oninput="updatePreview()">
        </div>
        <div class="field">
            <label for="url">URL</label>
            <div class="url">
                <span class="origin"></span>
                <input type="text" id="url" name="url" value="{{ post.url }}">
            </div>
        </div>
        <div class="field">
            <label for="author">Author</label>
            <input type="text" id="author" name="author" value="{{ post.author }}">
        </div>
        <div class="field content">
            <label for="content">Content</label>
            <textarea id="content" name="content" oninput="updatePreview()">{{ post.content }}</textarea>
        </div>
        <input type="hidden" id="content_rendered" name="content_rendered" value="">
        <div class="toolbar">
            <button type="button" onclick="markdownTool('bold')">Bold</button>
            <button type="button" onclick="markdownTool('italic')">Italic</button>
            <button type="button" onclick="markdownTool('quote')">Quote</button>
            <button type="button" onclick="markdownTool('link')">Link</button>
            <button type="button" onclick="markdownTool('image')">Image</button>
            <span id="status">No changes</span>
            <button type="button" onclick="savePost()">Save</button>
            <button type="button" onclick="togglePreview()">Preview</button>
        </div>
    </form>
    <div class="preview">
        <article>
            <h1 class="title" id="preview-title">{{ post.title }}</h1>
            <time class="date" datetime="{{ post.created_at }}">{{ post.created_at | format_datetime(format="%b %d, %Y") }}</time>
        </div>
    </div>
</div>
<script>
    updatePreview();

    // Populate the first part of the url input with the app's origin URL
    document.querySelector('.url .origin').innerHTML = window.location.origin + '/p/';

    // Toggleable preview with preference saved in localstorage
    const preview = document.querySelector('.preview');
    let showPreview = localStorage.getItem('preview') == 'true';
    !showPreview && preview.classList.add('hidden');
    function togglePreview() {
        showPreview = !showPreview;
        preview.classList.toggle('hidden');
        localStorage.setItem('preview', showPreview);
    }

    // Re-render markdown to HTML when the content changes
    function updatePreview() {
        const title = document.querySelector('#title').value;
        const content = document.querySelector('#content').value;

        const titleEl = document.querySelector('.title');
        const dateEl = document.querySelector('.date');

        document.title = `Edit post - ${title}`;
        titleEl.textContent = document.getElementById('title').value;
        while (dateEl.nextSibling) {
            dateEl.nextSibling.remove();
        }
        // markdownToHtml is defined in assets/markdown.js
        let content_rendered = markdownToHtml(content);
        dateEl.insertAdjacentHTML('afterend', content_rendered);
        document.getElementById('content_rendered').value = content_rendered;
    }

    // Markdown tools
    async function markdownTool(type) {
        const tools = {
            link: (sel, clipboard) => {
                const url = clipboard.startsWith('http') ? clipboard : 'https://link-url';
                if (sel.length) {
                    return sel.match(/^!\[/)
                      ? `${sel}(^^${url}$$)`   // use special url addon syntax for images
                      : `[${sel.trimEnd()}](^^${url}$$)` // otherwise, wrap selection
                } else {
                    return `[^^link text$$](${url})\n`;
                }
            },
            image: (sel, clipboard) => {
                const url = clipboard.startsWith('http') ? clipboard : 'https://image-url';
                return sel.length
                  ? `\n![${sel.trimEnd()}](^^${url}$$)\n`
                  : `\n![^^alt text$$](${url})\n`;
            },
            quote: (sel, clipboard) => {
                const lines = sel.split('\n');
                return sel.length
                  ? '\n' + lines.map(line => `> ${line}`).join('\n') + '\n^^'
                  : '\n> Quote^^\n';
            },
            italic: (sel, _) => {
                return sel.length
                  ? `*${sel}*^^`
                  : '*^^italic text$$*';
            },
            bold: (sel, _) => {
              return sel.length
                ? `**${sel}**^^`
                : '**^^bold text$$**';
            },
        };

        const content = document.getElementById('content');
        const i = content.selectionStart;
        const j = content.selectionEnd;
        const selection = content.value.substring(i, j);

        let clipboard = '';
        try {
          clipboard = await navigator.clipboard.readText();
        } catch (e) {}

        let insert = tools[type](selection, clipboard);

        // Parse out cursor position markers
        const cursorI = insert.indexOf('^^');
        insert = insert.replace('^^', '');
        const cursorJ = insert.indexOf('$$');
        insert = insert.replace('$$', '');

        // Update content, undo stack, and selection
        content.focus();
        document.execCommand('insertText', false, insert);
        if (cursorI != -1 && cursorJ != -1) {
            content.setSelectionRange(i + cursorI, i + cursorJ);
        } else if (cursorI != -1) {
            content.setSelectionRange(i + cursorI, i + cursorI);
        } else {
            content.setSelectionRange(i + insert.length, i + insert.length)
        }

        updatePreview();
    }

    // Save post via AJAX
    async function savePost() {
        const status = document.getElementById('status');
        const form = document.querySelector('form');

        for (const field of ['title', 'url', 'author']) {
            if (!document.getElementById(field).value) {
                alert(`Missing ${field}.`);
                return;
            }
        }

        try {
            const response = await fetch(form.getAttribute('action'), {
              method: 'POST',
              headers: {'Content-Type': 'application/x-www-form-urlencoded'},
              body: new URLSearchParams(new FormData(form))
            });

            if (response.ok) {
                status.textContent = 'Changes saved';
                modified = false;

                // If URL changed, update the URL without reloading the page
                const newUrl = document.getElementById('url').value;
                const currentUrl = window.location.pathname.split('/')[2];
                if (newUrl !== currentUrl) {
                    history.pushState({}, '', `/p/${newUrl}/edit`);
                    form.action = `/p/${newUrl}/edit`;
                }
            } else {
                status.textContent = 'Error saving';
                console.error(response.statusText);
            }
        } catch (error) {
            status.textContent = 'Error saving';
            console.error(error);
        }
    }

    // Track unsaved changes
    let modified = false;
    document.querySelectorAll('input, textarea')
      .forEach(e => e.addEventListener('input', () => {
        modified = true;
        document.getElementById('status').textContent = 'Changes unsaved';
      }));

    // Warn before leaving if there are unsaved changes
    window.addEventListener('beforeunload', (e) => {
        if (modified) {
            e.preventDefault();
            e.returnValue = '';
        }
    });
</script>
{{ page::end() }}
