{% extends "layout.html" %}
{% block title %}light and sound - admin{% endblock title %}
{% block styles %}
  {% call super() %}
{% endblock styles %}
{% block content %}
  <div id="admin/">
    <aside id="sidebar">
      <a href="/admin/dashboard/overview">
        <svg
          class="h-6 w-6"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"
          />
        </svg>
        <span>Overview</span>
      </a>
      <!-- <a>
        <svg
          class="h-6 w-6"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M17 6h-2V5h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2h-.541A5.965 5.965 0 0 1 14 10v4a1 1 0 1 1-2 0v-4c0-2.206-1.794-4-4-4-.075 0-.148.012-.22.028C7.686 6.022 7.596 6 7.5 6A4.505 4.505 0 0 0 3 10.5V16a1 1 0 0 0 1 1h7v3a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-3h5a1 1 0 0 0 1-1v-6c0-2.206-1.794-4-4-4Zm-9 8.5H7a1 1 0 1 1 0-2h1a1 1 0 1 1 0 2Z"
          />
        </svg>
        <span>Inbox</span>
      </a> -->
      <a href="/admin/dashboard/users?page=0&page_size=25">
        <svg
          class="h-6 w-6"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            fill-rule="evenodd"
            d="M8 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H6Zm7.25-2.095c.478-.86.75-1.85.75-2.905a5.973 5.973 0 0 0-.75-2.906 4 4 0 1 1 0 5.811ZM15.466 20c.34-.588.535-1.271.535-2v-1a5.978 5.978 0 0 0-1.528-4H18a4 4 0 0 1 4 4v1a2 2 0 0 1-2 2h-4.535Z"
            clip-rule="evenodd"
          />
        </svg>
        <span>Users</span>
      </a>
      <a href="dashboard/events">
        <svg
          class="h-6 w-6"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            fill-rule="evenodd"
            d="M6 5V4a1 1 0 1 1 2 0v1h3V4a1 1 0 1 1 2 0v1h3V4a1 1 0 1 1 2 0v1h1a2 2 0 0 1 2 2v2H3V7a2 2 0 0 1 2-2h1ZM3 19v-8h18v8a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm5-6a1 1 0 1 0 0 2h8a1 1 0 1 0 0-2H8Z"
            clip-rule="evenodd"
          />
        </svg>
        <span>Events</span>
      </a>
      <a href="dashboard/newsletters">
        <svg
          class="h-6 w-6"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            fill-rule="evenodd"
            d="M5 3a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11.5c.07 0 .14-.007.207-.021.095.014.193.021.293.021h2a2 2 0 0 0 2-2V7a1 1 0 0 0-1-1h-1a1 1 0 1 0 0 2v11h-2V5a2 2 0 0 0-2-2H5Zm7 4a1 1 0 0 1 1-1h.5a1 1 0 1 1 0 2H13a1 1 0 0 1-1-1Zm0 3a1 1 0 0 1 1-1h.5a1 1 0 1 1 0 2H13a1 1 0 0 1-1-1Zm-6 4a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H7a1 1 0 0 1-1-1Zm0 3a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H7a1 1 0 0 1-1-1ZM7 6a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H7Zm1 3V8h1v1H8Z"
            clip-rule="evenodd"
          />
        </svg>
        <span>Newsletters</span>
      </a>
    </aside>
    <div id="admin/dashboard">
      {% block panel %}
      {% endblock panel %}
    </div>
  </div>
  <script>
    function createNewCounter(element, start, end, duration) {
      let startTime = null;
      const range = end - start;

      function easeInOutCubic(t) {
        t /= duration / 2;
        if (t < 1) return (range / 2) * t * t * t + start;
        t -= 2;
        return (range / 2) * (t * t * t + 2) + start;
      }

      function step(timestamp) {
        if (!startTime) startTime = timestamp;
        const progress = timestamp - startTime;
        const value = easeInOutCubic(progress);
        element.textContent = Math.round(value);
        if (progress < duration) {
          requestAnimationFrame(step);
        } else {
          element.textContent = end;
        }
      }
      requestAnimationFrame(step);
    }
    (() => {
      const counters = document.querySelectorAll(".counter");
      for (const counter of counters) {
        createNewCounter(counter, 0, parseInt(counter.innerText), 4500);
      }
    })();
    (() => {
      function setActive(path) {
        const navs = document.querySelectorAll("#sidebar>a");
        for (const nav of navs) {
          if (nav.href.includes(path)) {
            nav.classList.add("active");
          }
        }
      }

      const path = window.location.pathname;
      setActive(path);
    })();
  </script>
{% endblock content %}
