.ext\/layout {
  @apply mx-auto flex w-full flex-col px-6 py-4;
  header {
    @apply border-lsd-white/20 mb-4 flex items-center justify-between border-b pb-3;
    h1 {
      @apply text-3xl;
    }
  }
}
.ext\/layout.standard {
  @apply max-w-2xl;
}
.ext\/layout.thin {
  @apply max-w-xl px-12;
}

.ext\/layout\/nav {
  @apply border-lsd-white/10 flex w-full items-center justify-between border-b px-6 py-4;
  #logo {
    @apply text-lsd-bright font-extrabold;
  }
  .icons {
    @apply flex items-center gap-6;

    a {
      @apply flex items-center justify-center;
      width: 24px;
      height: 24px;
    }

    .contact {
      @apply text-2xl;
    }
  }
}
