.ext\/table {
  @apply overflow-x-scroll;
  scrollbar-color: theme(colors.lsd-charcoal) transparent;

  table {
    @apply ml-auto mr-auto whitespace-nowrap;
    border-spacing: 1rem 0;
    border-collapse: separate;
  }

  th {
    @apply underline;
  }

  th:first-child,
  td:first-child {
    @apply pl-0;
  }

  th:last-child,
  td:last-child {
    @apply pr-0;
  }

  td.actions button {
    @apply cursor-pointer;
  }
}
