{% extends "layout.html" %}

{% block title %}light and sound{% endblock title %}

{% block content %}
  <section id="home">
    <div class="links">
      <a href="/">
        <h2 class="heading {% if !past %}active{% endif %}">EVENTS</h2>
      </a>
      <span class="divider"></span>
      <a href="/past">
        <h2 class="heading {% if past %}active{% endif %}">PAST EVENTS</h2>
      </a>
      <span class="divider" aria-hidden="true"></span>
      <a
        class="newsletter"
        href="/newsletter"
        aria-label="Subscribe to newsletter"
      >
        <span>N</span><span>E</span><span>W</span><span>S</span><span>L</span
        ><span>E</span><span>T</span><span>T</span><span>E</span><span>R</span>
      </a>
    </div>

    <ul class="events">
      {% for event in events %}
        <li>
          <a class="event" href="/e/{{ event.slug }}">
            <span class="date" aria-label="date" datetime="{{ event.start }}">
              {{ event.start | format_datetime("%a %m.%d.%Y") }}
            </span>
            <span class="divider" aria-hidden="true"></span>
            <span class="title">{{ event.title }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock content %}

{% block scripts %}
  <script>
    window.addEventListener("beforeunload", () => {
      const el = document.querySelector(".newsletter span");
      const t = Date.now();
      const phase = t % 2000;
      localStorage.setItem("newsletter", JSON.stringify({ t, phase }));
    });

    const state = localStorage.getItem("newsletter");
    if (!state) return;
    let { t, phase } = JSON.parse(state);
    const dt = Date.now() - t;
    phase = (phase + dt) % 2000;
    document.querySelectorAll(".newsletter span").forEach((el, i) => {
      el.style.animationDelay = `-${(phase + i * 100) % 2000}ms`;
    });
  </script>
{% endblock scripts %}
