<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}light and sound design{% endblock title %}</title>
    <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/static/dist/main.css" />
    {% block styles %}
      <link rel="stylesheet" href="/static/legacy.css" />
    {% endblock styles %}
  </head>
  <body>
    {% block header %}
      <header>
        <nav>
          <!-- TODO: Link to "/" when the homepage is finished -->
          <a class="lsd" href="https://lightandsound.design">
            <span class="text-yellow-400">light</span><span>and</span
            ><span class="text-cyan-400">sound</span>.<span
              class="text-pink-400"
              >design</span
            >
          </a>
          <div class="sep"></div>
          <a href="/events">Events</a>
          <a href="/posts">Posts</a>
        </nav>
      </header>
    {% endblock header %}
    <main>{% block content %}{% endblock content %}</main>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
