{% extends "layout.tera.html" %}

{% block title %}Sent post - {{ post.title }}{% endblock title %}

{% block content %}
  <div id="post-sent" class="p-8">
    <h1 class="pb-4">{{ post.title }}</h1>
    <ul class="*:pl-4">
      <li>Sent {{ stats.num_sent }} emails to list "{{ list.name }}"</li>

      {% if stats.num_skipped > 0 %}
        <li>
          Skipped sending {{ stats.num_skipped }} emails which were already
          delivered
        </li>
      {% endif %}

      {% if stats.errors | length > 0 %}
        <li>
          Failed to send {{ stats.errors | length }} emails
          <ul>
            {% for email, error in stats.errors %}
              <li>{{ email }}: {{ error }}</li>
            {% endfor %}
            <li>foo@foo.com: test</li>
          </ul>
        </li>
      {% endif %}
    </ul>
  </div>
{% endblock content %}
