{% extends "layout.tera.html" %}

{% block title %}Posts{% endblock title %}

{% block content %}
  <div id="post-list" class="flex w-full flex-col p-6">
    <header>
      <h1>Posts</h1>
      <a class="ext/button" href="/p/new">New Post</a>
    </header>
    {% for post in posts %}
      <div class="post">
        <h2><a href="/p/{{ post.url }}">{{ post.title }}</a></h2>
        <div class="details">
          By {{ post.author }} &bull; Updated
          <time datetime="{{ post.updated_at }}">
            {{ post.updated_at | format_datetime(format="%b %d, %Y") }}
          </time>
        </div>
        <div class="actions">
          <a class="ext/button" href="/p/{{ post.url }}/edit">Edit</a>
          <!--
            <form method="POST" action="/p/{{ post.url }}/duplicate">
              <button type="submit">Duplicate</button>
            </form>
          -->
          <form
            method="POST"
            action="/p/{{ post.url }}/delete"
            onsubmit="return confirm('Are you sure you want to delete this post?');"
            class="ext/button"
          >
            <button type="submit">Delete</button>
          </form>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
