{% extends "layout.html" %}

{% block title %}Studios for Sublet - light and sound{% endblock title %}

{% block content %}
  <section id="sublet">
    <header>
      <h1>Studios for Sublet</h1>
      <p class="intro">
        Flexible, light-filled studio spaces in the heart of Greenpoint. Ideal
        for artists, photographers, sound designers, wellness practitioners, and
        small creative teams.
      </p>
      <a
        class="apply"
        href="https://app.smartsheet.com/b/form/cc435bbb705c4d389f6dd041054bed0d"
        target="_blank"
      >
        <span>Apply Now</span>
        <span>&rarr;</span>
      </a>
    </header>

    <div class="content">
      <div class="section">
        <h2>The Space</h2>
        <ul>
          <li>Turnkey sublets or buildout</li>
          <li>
            Use as separate work areas or combine into a single larger studio
          </li>
          <li>Studios can be combined or modified within reason</li>
          <li>Big south-facing windows with excellent natural light</li>
          <li>Roof access</li>
          <li>Work outside with skyline views</li>
          <li>Plant plants</li>
          <li>Make a (temporary, small) mess</li>
          <li>Giant bathroom with utility sink</li>
          <li>Shared kitchen & storage</li>
          <li>2nd-floor walk-up</li>
        </ul>
      </div>

      <div class="photos single">
        <img src="/static/sublet/1.jpg" alt="Studio space" loading="lazy" />
      </div>

      <div class="photos single">
        <img src="/static/sublet/2.jpg" alt="Studio space" loading="lazy" />
      </div>

      <div class="section">
        <h2>The Building</h2>
        <ul>
          <li>
            Vibrant, active community of photographers, sound artists, lighting
            designers, and other creatives
          </li>
          <li>Licensed massage therapists and acupuncturists onsite</li>
          <li>
            Free or reduced entry to weekly dinners, music, and dance events
            upstairs
          </li>
        </ul>
      </div>

      <div class="photos single">
        <img src="/static/sublet/3.jpg" alt="Studio space" loading="lazy" />
      </div>

      <div class="photos single">
        <img src="/static/sublet/6.jpg" alt="Studio space" loading="lazy" />
      </div>

      <div class="section">
        <h2>The Location</h2>
        <ul>
          <li>
            2 blocks from the Greenpoint G and Manhattan Ave restaurants and
            cafes
          </li>
          <li>5 minutes to the Newtown Creek Nature Walk</li>
        </ul>
      </div>

      <div class="photos single">
        <img src="/static/sublet/7.jpg" alt="Studio space" loading="lazy" />
      </div>

      <div class="photos single">
        <img src="/static/sublet/8.jpg" alt="Studio space" loading="lazy" />
      </div>

      <div class="section">
        <h2>Availability & Pricing</h2>
        <ul>
          <li>9 studios available</li>
          <li>Feb 1 move-in (some flex here)</li>
          <li>$625&ndash;$2,850 per month, utilities included</li>
        </ul>
      </div>

      <div class="cta">
        <p>
          If you're looking for a flexible & creative home base in Greenpoint,
          this is it.
        </p>
        <a
          class="apply"
          href="https://app.smartsheet.com/b/form/cc435bbb705c4d389f6dd041054bed0d"
          target="_blank"
        >
          <span>Apply Now</span>
          <span>&rarr;</span>
        </a>
      </div>
    </div>
  </section>
{% endblock content %}
