Hello!

I was so excited to get Zoë’s first newsletter out earlier this week that we forgot to list a few things, and have since announced another Dleepover! Hope you don’t mind getting two emails from us this week. I do my best to be mindful of your attention spans....

![poster](https://substackcdn.com/image/fetch/w_1456,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2Fcaeb3c03-0c33-4b2d-ba98-13e00050bdbc_2232x2790.jpeg)

[12.02.2024 Deep Creep and Ando will Present Sounds. Food by Live Canteen.](https://www.eventcreate.com/e/deepcreepandops)

Sasha (aka Deep Creep) and Andrew (aka Ando) have both presented sounds for you all before- excited to have them both back in the booth this week for some sonic explorations. Eli (aka Live Canteen) is continuing to raise the bar with her culinary excellence. Check out this week’s menu:

> minestrone soup, parsley/pine nut/meyer lemon pesto, Cacio e Pepe sourdough

![poster2](https://substackcdn.com/image/fetch/w_1456,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2Fe378ddde-4c73-44fc-ba41-db5a354922a8_2160x2700.jpeg)

[12.14.2024 Pique-nique Presents: Persian Empire, live. Food by Live Canteen.](https://dice.fm/partner/dice/event/av2vvv-pique-nique-presents-14th-dec-tba-location-new-york-new-york-tickets)

When Sam (aka Loum) or Jared hit us up about doing anything, we do our best to make space for them in the calendar. To say that I trust their curitorial vision is an understatement. The Pique-nique approach to presenting music is woven into the fabric of the Light and Sound Design studio. This Saturday, Sam is hosting German producer Persian Empire for a live hardware set. This will be his first ever show in the US, and judging by the amount of messages I’ve gotten since we’ve announced I expect this one will a full house, and a memorable one at that. Tickets are limited, and going quickly. Come hungry, Eli is cooking again:

> mulligatawny soup, potato and cheese borekas, Korean style carrots, tahina and mango lime pickle

![poster3](https://substackcdn.com/image/fetch/w_1456,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F58ed2eb4-cf66-447c-8112-21917f7a79d9_3348x4329.jpeg)

[12.20.2024 Solstice Dsleepover](https://www.eventcreate.com/e/dsleepover1221)

On the other end of the energetic spectrum is the next edition of our Dsleepover series to celebrate the longest night of the year. This one is a gentle collaboration with Dan and Serena of Testu Collective. They will be providing visuals and sonics from the night along with myself, Vin (aka fieldtalk), Annie (aka UCC Harlo), MA, and Dominka Mazurová. If you’ve yet to take part in one of these, the idea is simple. We make sound for you to sleep to. Come and go as you please. Mattresses, toothbrushes and blankets are available, but you are encouraged to bring your own. The studio can be a bit drafty this time of year. There will be food too. More on that later…

Something Nice to Listen to:

[ambient flo](https://www.ambientflo.com/)

Hope to see you soon.

Love,

KG
