.ext\/form {
  @apply flex flex-col;
}

.ext\/form input,
.ext\/input {
  @apply border-lsd-white/30 bg-lsd-black w-full rounded-md border px-3 py-2;
  @apply focus:border-lsd-blue focus:outline-none;
}

.ext\/form label,
.ext\/label {
  @apply mb-2 block;
}

.ext\/form textarea,
.ext\/textarea {
  @apply bg-lsd-black h-[50vh] w-full flex-1 resize-y p-2;
  @apply border-lsd-white/30 border;
}

.ext\/form select,
.ext\/select {
  @apply border-lsd-white/40 bg-lsd-black rounded-md border px-3 py-2;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;utf8,<svg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>')
    no-repeat right 0.5rem center;

  background-size: 1.5rem 1.5rem;
}

.ext\/form .field,
.ext\/field {
  @apply mb-4 flex flex-col pb-4;
}

.ext\/form button,
.ext\/button {
  @apply bg-lsd-white/10 hover:bg-lsd-white/15 block cursor-pointer px-4 py-2;
  @apply border-lsd-white/10 border;
  @apply rounded-sm;

  &.\:icon {
    @apply px-3;
  }

  &.\:green {
    @apply border-lsd-green/30 bg-lsd-green/20 hover:bg-lsd-green/30;
  }

  &.\:red {
    @apply border-lsd-red/30 bg-lsd-red/20 hover:bg-lsd-red/30;
  }
  &.\:disabled {
    @apply border-lsd-white/10 bg-lsd-white/5 hover:bg-lsd-white/5 cursor-default;
  }
}

.ext\/button:disabled {
  @apply cursor-not-allowed opacity-50;
}
