@import "tailwindcss";

/** Extensions **/
@import "./extensions/layout.css";
@import "./extensions/form.css";
@import "./extensions/sidebar.css";
@import "./extensions/editor.css";

/* Home */
@import "./home.css";
@import "./dashboard.css";

/* Events */
@import "./events/edit.css";
@import "./events/list.css";
@import "./events/view.css";
@import "./events/rsvp_layout.css";
@import "./events/rsvp_guestlist.css";
@import "./events/rsvp_selection.css";
@import "./events/rsvp_attendees.css";
@import "./events/rsvp_contribution.css";
@import "./events/rsvp_manage.css";
/* Lists */
@import "./lists/list.css";
@import "./lists/edit.css";
/* Posts */
@import "./posts/edit.css";
@import "./posts/list.css";
@import "./posts/send.css";
@import "./posts/view.css";

@theme {
  --font-sans: system-ui;
  /* CSS HEX */
  --color-lsd-bright: #fcf3ee;
  --color-lsd-white: #ebe3de;
  --color-lsd-gray: #878787;
  --color-lsd-charcoal: #1e1b19;
  --color-lsd-black: #080504;

  --color-lsd-blue: #8ec6ff;
  --color-lsd-green: #6fd08c;
  --color-lsd-red: #c34346;
  --color-lsd-yellow: #eec643;
}

/*
 * TODO: Refactor styles into Tailwind utility classes
 *       Below styles are from page.tera.html
 */

:root,
main {
  @apply bg-lsd-black text-lsd-white flex w-full flex-col font-sans;
}

main {
  @apply items-center;
}

body {
  @apply min-h-full;
}

blockquote {
  @apply bg-lsd-black;
  font-style: italic;
  margin: 2rem 0;
  padding: 1.5rem 2rem;
  background: var(--color-lsd);
  border-left: 4px solid #333;
}
