@import "tailwindcss";

/** Extensions **/
@import "./extensions/fonts.css";
@import "./extensions/form.css";

/* Auth */
@import "./auth/login.css";
@import "./auth/register.css";
/* Events */
@import "./events/rsvp.css";
@import "./events/edit.css";
@import "./events/list.css";
@import "./events/view.css";
/* Lists */
@import "./lists/edit.css";
@import "./lists/signup.css";
@import "./lists/view.css";
/* Posts */
@import "./posts/edit.css";
@import "./posts/list.css";
@import "./posts/send.css";
@import "./posts/view.css";

@theme {
  --font-sans: DM Sans Variable, sans-serif;
  --font-display: Poppins, sans-serif;
  /* CSS HEX */
  --color-lsd-black: #080504;
  --color-lsd-white: #ebe3de;
  --color-lsd-bright: #fcf3ee;
  --color-lsd-gray: #878787;
  --color-lsd-blue: #8ec6ff;
  --color-lsd-green: #6fd08c;
  --color-lsd-red: #c34346;
  --color-lsd-yellow: #eec643;
}

/*
 * TODO: Refactor styles into Tailwind utility classes
 *       Below styles are from page.tera.html
 */

:root {
  @apply bg-lsd-black text-lsd-white h-full w-full font-sans;
}

body {
  @apply min-h-full;
}

body > header {
  @apply border-lsd-white/10 flex flex-col items-center border-b px-6 py-4;

  nav {
    @apply flex w-full max-w-6xl items-center gap-x-8;
  }
  nav .lsd {
    @apply font-display text-lsd-bright font-bold;
  }
  nav .sep {
    @apply h-4 border-r border-neutral-700;
  }
}

input {
  color-scheme: dark;
}
