{% extends "layout.html" %}

{% block title %}light and sound - login{% endblock title %}

{% block content %}
  <section class="ext/layout standard">
    <header>
      <h1>Login</h1>
    </header>
    <form class="ext/form" action="/login" method="post">
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" />
      </div>
      <div class="field">
        <button type="submit">Login</button>
      </div>
      <input type="hidden" value="{{ redirect | unwrap_or_empty }}" />
    </form>
  </section>
{% endblock content %}
