{% extends "layout.html" %}

{% block title %}light and sound - login{% endblock title %}
{% block styles %}
{% endblock styles %}
{% block content %}
  <div id="auth/login">
    <div class="container">
      <h1>Login</h1>
      <form class="ext/form" action="/login" method="post">
        <div class="field">
          <label for="email">Email</label>
          <input type="email" name="email" />
        </div>
        <div class="field">
          <button type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
