{% extends "admin/dashboard.html" %}
{% block title %}{% call super() %} overview{% endblock title %}
{% block panel %}
  <div id="admin/dashboard/users">
    <div class="widget-container">
      <div class="widget-content-stat">
        <h1 class="widget-item">
          <span class="counter">200</span>
        </h1>
        <h2>New Users</h2>
      </div>
    </div>
    <div class="widget-container">
      <div class="widget-content-stat">
        <h1 class="widget-item">
          <span class="counter">240</span>
        </h1>
        <h2>New Users</h2>
      </div>
    </div>
    <div class="widget-container">
      <div class="widget-content-stat">
        <h1 class="widget-item">
          <span class="counter">100</span>
        </h1>
        <h2>New Users</h2>
      </div>
    </div>
    <div class="widget-container" id="widget-table">
      <div class="widget-item-table">
        <table>
          <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role: Writer</th>
            <th>Role: Admin</th>
            <th>Remove user</th>
          </thead>
          <tbody>
            {% for user in users %}
              <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>
                  <input type="checkbox" {% if true %}checked{% endif %} />
                </td>
                <td><input type="checkbox" /></td>
                <td><button>Delete</button></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="table-footer">
        <a>
          <svg
            class="h-6 w-6 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m15 19-7-7 7-7"
            />
          </svg>
        </a>
        <a>
          <svg
            class="h-6 w-6 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m9 5 7 7-7 7"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
  <script></script>
{% endblock panel %}
